# Aula sobre Dicionários

In [1]:
#Isso é uma lista
estudantes_lst = ["Fernando", 24, "Pedro", 26, "Flavia", 19, "Ana", 30]

In [2]:
estudantes_lst

['Fernando', 24, 'Pedro', 26, 'Flavia', 19, 'Ana', 30]

In [4]:
#Isso é um dicionário
estudantes_dict = {"Fernando" : 24, "Pedro" : 26, "Flavia" : 19, "Ana" : 30}

In [5]:
estudantes_dict

{'Fernando': 24, 'Pedro': 26, 'Flavia': 19, 'Ana': 30}

In [9]:
#Podemos exibir o valor atrelado a variável
estudantes_dict["Fernando"]

24

In [10]:
#Podemos adicionar um novo item ao dicionário
estudantes_dict["Arthur"] = 27

In [11]:
estudantes_dict

{'Fernando': 24, 'Pedro': 26, 'Flavia': 19, 'Ana': 30, 'Arthur': 27}

In [14]:
#Usando o comando clear para apagar todos os itens do dicionário
estudantes_dict.clear()

In [15]:
estudantes_dict

{}

In [19]:
#Apagamos o dicionário
del estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [20]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [22]:
estudantes = {"Fernando" : 24, "Pedro" : 26, "Flavia" : 19, "Ana" : 30}

In [23]:
estudantes

{'Fernando': 24, 'Pedro': 26, 'Flavia': 19, 'Ana': 30}

In [26]:
#Quantidade de itens do dicionário
len(estudantes)

4

In [28]:
#Mostra as "chaves" (itens) do dicionário
estudantes.keys()

dict_keys(['Fernando', 'Pedro', 'Flavia', 'Ana'])

In [29]:
#Mostra os valores atribuídos 
estudantes.values()

dict_values([24, 26, 19, 30])

In [30]:
#Mostra os itens e valores do dicionário
estudantes.items()

dict_items([('Fernando', 24), ('Pedro', 26), ('Flavia', 19), ('Ana', 30)])

In [31]:
estudantes2 = {"Maria":27, "Erika":28, "Milton":26}

In [32]:
estudantes2

{'Maria': 27, 'Erika': 28, 'Milton': 26}

In [37]:
#Concatenando os dicionários usando o método update
estudantes.update(estudantes2)

In [34]:
estudantes

{'Fernando': 24,
 'Pedro': 26,
 'Flavia': 19,
 'Ana': 30,
 'Maria': 27,
 'Erika': 28,
 'Milton': 26}